/*const mongoose = require('mongoose');

const connectDB = async () => {
    try {
        mongoose.connect(process.env.MONGO_CONN_URL, {
            useUnifiedTopology: true,
            useNewUrlParser: true
        });

        const db = mongoose.connection;
        db.on("error", console.error.bind(console, "connection error: "));
        db.once("open", function () {
            //console.log(`MongoDB Connected..!!`);
        });


    } catch (error) {
        //console.log(`MongoDB Connection Error..!! => ${error.message}`);
        process.exit();
    }
}

module.exports = connectDB;*/